Map {
  background-color: #fff; //b8dee6;
}

#countries {
  ::outline {
    line-color: #fff;
    line-width: 2;
    line-join: round;
  }
  polygon-fill: #ccc; // 573
}

#10mcoastline {
  line-width:1;
  line-color:#168;
}


/* sea-vs-land masks, needed to clean up the edges of the ramp images */
#srtm1203mask, #srtm1204mask, #srtm1205mask, #srtm1906mask, #srtm2006mask, #srtm2204mask {
  raster-opacity: 1.0;
  raster-comp-op: multiply;
}


/* hillshading relief images */
/*
#srtm1203hillshade, #srtm1204hillshade, #srtm1205hillshade, #srtm1906hillshade, #srtm2006hillshade, #srtm2204hillshade {
  raster-opacity: 0.2;
  raster-comp-op: soft-light;
}*/


/* images color-coded by elevation */
#srtm1203smoothramp, #srtm1204smoothramp, #srtm1205smoothramp, #srtm1906smoothramp, #srtm2006smoothramp, #srtm2204smoothramp {
  raster-opacity: 0.85;
  raster-comp-op: multiply;
}

